#TOPBANNER{
    text-align:center !important;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px !important;
    color: white;
    /* display: block !important;
    background-color: black;*/
    z-index: 2 !important;
    /* position: relative;  */
}
.markdown-section{
  z-index: 1;
}
.search{
  margin-top: 31px;
  z-index: 3 !important;
}

.card {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 33%;
    display: inline-block !important;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  }
  .card-img-top{
    width: 35px !important;
    height: 35px;
  }

  .content {
    overflow: auto;
  }